HELP.md
.gradle
build/
logs/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
service/build/
service/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# output of scripts/render-config.sh
/config/

# openapi-generator output
**/generated/*.java

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# Ignore virtual Python environments for smoke tests and pycaches
/smoke_test/venv
**/__pycache__/**

service/backup.sql
/service/.openapi-generator/
