service/src/main/java/org/databiosphere/workspacedataservice/generated/*          linguist-generated=true
service/src/main/java/org/databiosphere/workspacedataservice/generated/README.md  linguist-generated=false
