twds:
  tenancy:
    # Should this WDS deployment allow virtual collections, i.e. collections that have no
    # corresponding row in the sys_wds.collection table?
    allow-virtual-collections: true
    # Should this WDS deployment require a valid $WORKSPACE_ID env var?
    require-env-workspace: false
    # Should this WDS deployment require collections to belong to the workspace with $WORKSPACE_ID?
    enforce-collections-match-workspace-id: false
  data-import:
    add-import-metadata: true
    succeed-on-completion: false
    # Name of the Google Cloud Storage bucket where JSON files are uploaded for import and sent to
    # Rawls for upserting.
    rawls-bucket-name: ${SERVICE_GOOGLE_BUCKET:}
    enable-tdr-permission-sync: true
    # Name of PubSub topic to notify Rawls of JSON files ready for import.
    rawls-notifications-topic: ${RAWLS_NOTIFY_TOPIC}
    # Name of PubSub topic for incoming import status notifications from Rawls.
    status-updates-topic: ${IMPORT_STATUS_UPDATES_TOPIC}
    # Name of PubSub subscription used to subscribe to the status-updates-topic.
    status-updates-subscription: ${IMPORT_STATUS_UPDATES_SUBSCRIPTION}

spring:
  cloud:
    gcp:
      core:
        enabled: true
      pubsub:
        enabled: true

sentry:
  mrg: # intentionally empty
  releasename: "cWDS"
  env: ${TERRA_ENV:}
  deploymentMode: control-plane
  dsn: ${SENTRY_DSN:n/a}
