<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%X{requestId})] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <!-- Optionally change minimum Event level. Default for Events is ERROR -->
        <minimumEventLevel>ERROR</minimumEventLevel>
        <!-- Optionally change minimum Breadcrumbs level. Default for Breadcrumbs is INFO -->
        <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
    </appender>

    <springProfile name="!local">
        <property name="LOGS" value="./logs" />
        <appender name="RollingFile"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS}/spring-boot-logger.log</file>
            <encoder
                    class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d %p %C{1.} [%X{requestId}] %m%n</Pattern>
            </encoder>

            <rollingPolicy
                    class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily and when the file reaches 10 MegaBytes -->
                <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
                </fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>

        <!-- log everything at INFO level -->
        <root level="info">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
            <appender-ref ref="Sentry" />
        </root>

        <!-- log WDS at DEBUG level -->
        <logger name="org.databiosphere.workspacedataservice" level="debug" additivity="false">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
            <appender-ref ref="Sentry" />
        </logger>

        <!-- log WDS Sam integration at DEBUG level -->
        <logger name="org.databiosphere.workspacedataservice.sam" level="debug" additivity="false">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
            <appender-ref ref="Sentry" />
        </logger>

        <!-- log org.springframework.web at DEBUG level -->
        <logger name="org.springframework.web" level="debug" additivity="false">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
            <appender-ref ref="Sentry" />
        </logger>
    </springProfile>

    <springProfile name="local">
        <root level="info">
            <appender-ref ref="Console" />
        </root>

        <logger name="org.databiosphere.workspacedataservice" level="debug" additivity="false">
            <appender-ref ref="Console" />
        </logger>

        <logger name="org.springframework.web" level="debug" additivity="false">
            <appender-ref ref="Console" />
        </logger>
    </springProfile>

</configuration>
