<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%X{requestId})] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- log everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <!-- log WDS at DEBUG level -->
    <logger name="org.databiosphere.workspacedataservice" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <!-- log org.springframework.web at DEBUG level -->
    <logger name="org.springframework.web" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>
