name: Publish new app version to terra-helmfile
on:
  workflow_call:
    inputs:
      new-tag:
        required: true
        type: string
      jiraId:
        required: true
        type: string
    secrets:
      BROADBOT_TOKEN:
        required: true

jobs:
  ####################
  # WDS (data plane) #
  ####################

  # Create a PR to update the WDS version in terra-helmfile.
  # This starts the process of updating the WDS version in Leonardo.
  # The terra-helmfile PR crated here will be automatically merged (if checks pass).
  # Once it is merged, a new version of the Helm chart will automatically be published
  # and a PR to Leonardo opened to update the WDS chart version in Leonardo.
  # The Leonardo PR will also be automatically merged (if checks pass).
  #
  # 2024-08-29 David An: releases no longer automatically create terra-helmfile PRs, via the
  # `if: false` clause below. To update data-plane/terra-helmfile, manually create a PR.
  #
  create-terra-helmfile-pr:
    if: false
    name: Create terra-helmfile PR for latest WDS version
    runs-on: ubuntu-latest
    steps:
      - name: Look for CORE (Core Services) Jira ID in the manual workflow trigger message
        id: find-jira-id
        run: |
          set +e
          JIRA_ID=$(echo "${{ inputs.jiraId }}" | grep -iEo -m 1 'CORE-[0-9]+' | head -1 || '')
          if [[ -z "$JIRA_ID" ]]; then
            echo "JIRA_ID missing, PR to terra-helmfile will not be created" 1>&2
            exit 1;
          else
            echo "JIRA_ID=${JIRA_ID}" >> $GITHUB_OUTPUT
          fi
          set -e

      - name: Clone terra-helmfile
        uses: actions/checkout@v6
        with:
          repository: broadinstitute/terra-helmfile
          token: ${{ secrets.BROADBOT_TOKEN }} # Has to be set at checkout AND later when pushing to work
          path: terra-helmfile

      - name: Create terra-helmfile PR for latest WDS version
        env:
          BROADBOT_TOKEN: ${{ secrets.BROADBOT_TOKEN }}
          GH_TOKEN: ${{ secrets.BROADBOT_TOKEN }}
          JIRA_ID: ${{ steps.find-jira-id.outputs.JIRA_ID }}
          HELM_NEW_TAG: ${{ inputs.new-tag }}
        run: |
          set -e
          cd terra-helmfile
          HELM_CUR_TAG=$(grep "applicationVersion: " charts/wds/values.yaml | sed "s,.*applicationVersion: ,,")
          git checkout -b ${JIRA_ID}-auto-update-${HELM_NEW_TAG}
          [[ -n "$HELM_CUR_TAG" && -n "$HELM_NEW_TAG" ]]
          sed -i "s/$HELM_CUR_TAG/$HELM_NEW_TAG/" charts/wds/values.yaml
          git config --global user.name "broadbot"
          git config --global user.email "broadbot@broadinstitute.org"
          git commit -am "${JIRA_ID}: Auto update WDS version to $HELM_NEW_TAG"
          git push -u origin ${JIRA_ID}-auto-update-${HELM_NEW_TAG}
          gh pr create --title "${JIRA_ID}: auto update WDS version to $HELM_NEW_TAG" --body "${JIRA_ID} helm chart update" --label "automerge"

  ########################
  # cWDS (control plane) #
  ########################

  # Deploy the new version of cWDS to the dev environment.
  cwds-set-version-in-dev:
    uses: broadinstitute/sherlock/.github/workflows/client-set-environment-app-version.yaml@main
    with:
      new-version: ${{ inputs.new-tag }}
      chart-name: 'cwds'
      environment-name: 'dev'
    secrets:
      sync-git-token: ${{ secrets.BROADBOT_TOKEN }}
    permissions:
      id-token: 'write'
