name: Publish Java Client
on:
  workflow_call:

jobs:
  build_publish_client:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build all projects without running tests
        run: ./gradlew --build-cache build -x test

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v3
        with:
          token_format: access_token
          workload_identity_provider: 'projects/1038484894585/locations/global/workloadIdentityPools/github-wi-pool/providers/github-wi-provider'
          service_account: 'dsp-artifact-registry-push@dsp-artifact-registry.iam.gserviceaccount.com'

      - name: Publish client to GAR
        run: ./gradlew publish
        env:
          GOOGLE_CLOUD_PROJECT: dsp-artifact-registry
          GAR_LOCATION: us-central1
          GAR_REPOSITORY_ID: libs-snapshot-standard


