name: Run WDS e2e tests with BEE
'on':
  schedule:
    # run twice a day at 10:00 and 22:00 UTC every day of the week
    - cron: "0 10/12 * * 1-5"
  workflow_dispatch:
env:
  BEE_NAME: 'wds-${{ github.run_id }}-${{ github.run_attempt}}-dev'
  TOKEN: '${{ secrets.BROADBOT_TOKEN }}'
  ATTACH_BP_TO_LZ_RUN_NAME: 'attach-billing-project-to-landing-zone-${{ github.event.repository.name }}-${{ github.run_id }}-${{ github.run_attempt }}'
jobs:
  init-github-context:
    runs-on: ubuntu-latest
    outputs:
      branch: '${{ steps.extract-inputs.outputs.branch }}'
    steps:
      - name: Get inputs or use defaults
        id: extract-inputs
        run: >
          echo "branch=${{ inputs.branch || 'develop' }}" >> "$GITHUB_OUTPUT"
  params-gen:
    runs-on: ubuntu-latest
    outputs:
      project-name: '${{ steps.gen.outputs.project_name }}'
      bee-name: '${{ env.BEE_NAME }}'
    steps:
      - uses: actions/checkout@v4
      - name: Generate a random billing project name
        id: gen
        run: |
          project_name=$(echo "tmp-billing-project-$(uuidgen)" | cut -c -30)
          echo "project_name=${project_name}" >> $GITHUB_OUTPUT
  create-bee-workflow:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Get actions
        uses: actions/checkout@v4

      - name: dispatch to terra-github-workflows
        id: FirstAttemptCreateBee
        continue-on-error: true
        uses: ./.github/actions/create-bee
        with:
          bee_name: ${{ env.BEE_NAME }}
          token: '${{ env.TOKEN }}'

  attach-landing-zone-to-bee-workflow:
    runs-on: ubuntu-latest
    needs: [ init-github-context, create-bee-workflow, params-gen ]
    steps:
      - name: Get actions
        uses: actions/checkout@v4

      - name: dispatch to terra-github-workflows
        id: FirstAttemptLandingZone
        continue-on-error: true
        uses: ./.github/actions/landing-zone-attach
        with:
          run_name: "${{ env.ATTACH_BP_TO_LZ_RUN_NAME }}"
          bee_name: ${{ env.BEE_NAME }}
          token: '${{ env.TOKEN }}'
          project_name: ${{ needs.params-gen.outputs.project-name }}

      - name: retry dispatch to terra-github-workflows in case of failure
        if: steps.FirstAttemptLandingZone.outcome == 'failure'
        uses: ./.github/actions/landing-zone-attach
        with:
          run_name: "${{ env.ATTACH_BP_TO_LZ_RUN_NAME }}"
          bee_name: ${{ env.BEE_NAME }}
          token: '${{ env.TOKEN }}'
          project_name: ${{ needs.params-gen.outputs.project-name }}

  run-e2e-test-job:
    needs:
      - attach-landing-zone-to-bee-workflow
      - params-gen
    permissions:
      contents: read
      id-token: write
    uses: broadinstitute/dsp-reusable-workflows/.github/workflows/run-e2e-tests.yaml@main
    with:
      billing-project-name: '${{ needs.params-gen.outputs.project-name }}'
      bee-name: '${{ needs.params-gen.outputs.bee-name }}'
      branch: main
  destroy-bee-workflow:
    runs-on: ubuntu-latest
    needs:
      - run-e2e-test-job
      - init-github-context
    if: always()
    steps:
      - name: dispatch to terra-github-workflows
        uses: broadinstitute/workflow-dispatch@v4
        with:
          workflow: bee-destroy
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/main
          wait-for-completion: false
          token: '${{ env.TOKEN }}'
          inputs: '{ "bee-name": "${{ env.BEE_NAME }}" }'
  report-workflow:
    uses: broadinstitute/sherlock/.github/workflows/client-report-workflow.yaml@main
    if: github.ref == 'refs/heads/main'
    with:
      notify-slack-channels-upon-workflow-failure: "#dsp-analysis-journeys-alerts"
    permissions:
      id-token: write
